# Copia este archivo a .env y completa los valores reales


# =========================================================
# Servidor
# =========================================================
PORT=3000
NODE_ENV=development


# =========================================================
# Base de datos
# =========================================================
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# =========================================================
# CORS
# =========================================================
CORS_ORIGIN="http://localhost:5173"


# =========================================================
# Logs
# =========================================================
DATABASE_LOG_QUERIES=false
