# Copia este archivo a .env.docker y reemplaza los valores según sea necesario


# =========================================================
# Servidor
# =========================================================
PORT=3000
NODE_ENV=production


# =========================================================
# Base de datos - Contenedor PostgreSQL
# =========================================================
POSTGRES_DB=academic_db
POSTGRES_USER=academic_user
POSTGRES_PASSWORD=academic_pass_123
POSTGRES_PORT=5432


# =========================================================
# Prisma / Conexión interna desde la API hacia PostgreSQL
# =========================================================
DATABASE_URL="postgresql://academic_user:academic_pass_123@postgres:5432/academic_db?schema=public"